<div class="title-menu">
    <i class="fa-solid fa-play"></i>
    <h3>Dashboard</h3>
</div>

<div class="card-dashboard">
    <div class="sampah-masuk">
        <i class="fa-solid fa-trash-can-arrow-up"></i>
        <p>20</p>
    </div>
    <div class="sampah-keluar">
        <i class="fa-solid fa-truck-fast"></i>
        <p>50</p>
    </div>
</div>
